better-profanity==0.5.0
chardet==3.0.4
date-tools==0.0.3
idna==2.8
misc-date-utilities==1.0.6
nltk==3.4.5
praw==6.1.1
prawcore==1.0.1
py-readability-metrics==1.3.5
pytz==2019.1
redditreplier==1.0.1rc1
six==1.12.0
update-checker==0.16
websocket-client==0.54.0
pyyaml
